#contener{
    position: absolute;
    width: 600px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    top: -30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

button{
    padding: 20px;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

#odczyt, #dok{
    color: red;
}

.normal{
    font-size: 24px;
}
.obj{
    font-size: 16px;
}