* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

#contener {
    background-image: url(./background.png);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

#content {
    width: 600px;
    height: 350px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 15px;
}

.header {
    text-shadow: 3px 5px 10px;
}

.start,
.stop {
    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bolder;
    font-size: 24px;
    border: 0;
    user-select: none;
    cursor: grab;
    margin: 1.7rem;
    width: 10rem;
    letter-spacing: 2px;
}

#odczyt,
#dok,
.stop {
    color: red;
}

.normal {
    font-size: 1.5rem;
    line-height: 70px;
}

#map {
    width: 600px;
    height: 600px;
    margin: 10px;
    flex-grow: 1.5;
    border: 1px solid;
}

mark {
    background-color: red;
    opacity: 0.8;
    color: white;
    padding: 0 5px;
    letter-spacing: 3px;
    border-radius: 6px;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 9999;
    border: solid 1px;
    width: 100vw;
    text-align: center;
    background-color: lightgrey;
    letter-spacing: 3px;
    height: 2.5rem;
}

[type="radio"] {
    margin-left: 1rem;
    cursor: pointer;

}

fieldset {
    background-color: #f2efe9;
    font-size: 1rem;
    padding: 10px 0 20px 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px #bbb;
    border: 0;
}

legend{
    background-color: white;
    order: 1px solid;
    padding: 5px 15px 5px 15px;
    font-size: .8rem;
    font-weight: 400;
    box-shadow: inset 0px 0px 15px #c8c8c8;
    border-radius: 5px;
}